{{!-- Dashboard Template --}}

<div class="dashboard">
    <h1>Welcome to Your Dashboard, {{username}}</h1>

    {{!-- Button to create a new post --}}
    <button><a href="/newpost">Create New Post</a></button>

    {{!-- Loop through each of the user's posts --}}
    {{#each posts}}
        <div class="post">
            <h2>{{this.title}}</h2>
            <p>{{this.content}}</p>
            <button><a href="/editpost/{{this.id}}">Edit</a></button>
            <button><a href="/deletepost/{{this.id}}">Delete</a></button>
        </div>
    {{/each}}
</div>
